/*!*Fifth Page*!*/

.six_page{
    height: 65vh;
    width: 98vw;
    border: 10px solid black;
    background: black;
    top: 900px;
    position: relative;
}

#get{
    position: absolute;
    left: 650px;
    top: 20px;
    font-family: 'Arial';
    color: white;
    z-index: 3;
    font-size: 23px;
    margin-bottom: 15px;
}

#let{
    position: absolute;
    width: 600px;
    height: 46px;
    left: 450px;
    top: 50px;
    font-family: 'Arial';
    color: white;
    z-index: 1;
    font-size: 33px;
}

.first{
    position: absolute;
    width: 972px;
    height: 29px;
    left: 17%;
    top: 120px;
    font-family: 'Arial';
    font-size: 18px;
    color: white;
    z-index: 1;
}

.second{
    position: absolute;
    width: 972px;
    height: 29px;
    left: 17%;
    top: 170px;
    font-family: 'Arial';
    font-size: 18px;
    color: white;
    z-index: 1;
}

.smallpic{
    position: absolute;
    left: 42%;
    top: 250px;
    z-index: 2;
    height: 35px;
}

#reply{
    position: absolute;
    width: 255px;
    height: 29px;
    left: 43%;
    top: 240px;
    font-size: 14px;
    font-family: 'Arial';
    color: white;
    z-index: 1;
}

.mail{
    position: absolute;
    width: 220px;
    height: 50px;
    top: 320px;
    margin-left: -300px;
    font-family: Arial;
    border-radius: 9px;
    border-color: blue;
    background-color: blue;
    font-weight: bold;
    z-index: 1;
}

.message{
    position: absolute;
    width: 220px;
    height: 50px;
    top: 320px;
    margin-left: 50px;
    font-family: Arial;
    border-radius: 9px;
    border-color: limegreen;
    background-color: limegreen;
    font-weight: bold;
    z-index: 1;
}

#email{
    color: white;
}

#number{
    color: white;
}

.footer_social{
    position: relative;
    bottom: -360px;

    margin-left: 360px;
}

.facebookf{
    width: 27px;
    height: 27px;
    padding-right: 10px;
}

.instagramf{
    width: 27px;
    height: 27px;
    padding-right: 10px;
}

.linkedinf{
    width: 27px;
    height: 27px;
    padding-right: 10px;
}

.githubf{
    width: 27px;
    height: 27px;
    padding-right: 10px;
}

.twitterf{
    width: 27px;
    height: 27px;
    padding-right: 10px;
}

body>footer>section>section:nth-child(2)>p{
    position: absolute;
    width: 260px;
    height: 14px;
    right: 630px;
    top: 430px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    /*font-size: 10px;*/
    line-height: 14px;
    color: #FFFFFF;
    z-index: 1;
}


@media all and (max-width: 320px){

   .six_page{
        height: 64vh;
        /*border: 10px solid black;*/
        background: black;
        position: relative;
       top: 2800px;
    }

    #get{
        left: -12px;
        top: -2px;
        font-family: 'Arial';
        color: white;
        z-index: 3;
        font-size: 16px;
        position: relative;
    }

    #let{
        position: relative;
        left: -53%;
        top: -5px;
        font-family: 'Arial';
        color: white;
        z-index: 1;
        font-size: 18px;
    }

    .first{
        position: absolute;
        left: -115%;
        top: 80px;
        font-family: 'Arial';
        font-size: 11px;
        color: white;
        z-index: 1;
    }

    .second{
        position: absolute;

        left: -115%;
        top: 120px;
        font-family: 'Arial';
        font-size: 11px;
        color: white;
        z-index: 1;
    }

    .smallpic{
        position: absolute;
        left: 22%;
        top: 180px;
        z-index: 2;
        height: 20px;
    }

    #reply{
        position: absolute;
        left: 11%;
        top: 170px;
        font-size: 11px;
        font-family: 'Arial';
        color: white;
        z-index: 1;
    }

    .mail{
        position: absolute;
        width: 140px;
        height: 40px;
        top: 220px;
        margin-left: -150px;
        font-size: 10px;
        font-family: Arial;
        border-radius: 9px;
        border-color: blue;
        background-color: blue;
        font-weight: bold;
        z-index: 3;
    }

    .message{
        position: absolute;
        width: 140px;
        height: 40px;
        top: 220px;
        margin-left: 5px;
        font-size: 10px;
        font-family: Arial;
        border-radius: 9px;
        border-color: limegreen;
        background-color: limegreen;
        font-weight: bold;
        z-index: 1;
    }

    #email{
        color: white;
    }

    #number{
        color: white;
    }

    .footer_social{
        position: relative;
        bottom: -150px;

        margin-left: -215px;
    }

    .facebookf{
        width: 23px;
        height: 23px;
        padding-right: 10px;
    }

    .instagramf{
        width: 23px;
        height: 23px;
        padding-right: 10px;
    }

    .linkedinf{
        width: 23px;
        height: 23px;
        padding-right: 10px;
    }

    .githubf{
        width: 23px;
        height: 23px;
        padding-right: 10px;
    }

    .twitterf{
        width: 23px;
        height: 23px;
        padding-right: 10px;
    }

    body>footer>section>section:nth-child(2)>p{
        position: absolute;
        right: 20px;
        top: 350px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        /*font-size: 10px;*/
        line-height: 14px;
        color: #FFFFFF;
        z-index: 3;
    }
}


@media all and (min-width: 321px) and (max-width: 376px){

    .six_page{
        height: 64vh;
        /*border: 10px solid black;*/
        background: black;
        position: relative;
        top: 2800px;
    }

    #get{
        left: -12px;
        top: -2px;
        font-family: 'Arial';
        color: white;
        z-index: 3;
        font-size: 16px;
        position: relative;
    }

    #let{
        position: relative;
        left: -35%;
        top: -5px;
        font-family: 'Arial';
        color: white;
        z-index: 1;
        font-size: 18px;
    }

    .first{
        position: absolute;
        left: -85%;
        top: 80px;
        font-family: 'Arial';
        font-size: 11px;
        color: white;
        z-index: 1;
    }

    .second{
        position: absolute;

        left: -85%;
        top: 120px;
        font-family: 'Arial';
        font-size: 11px;
        color: white;
        z-index: 1;
    }

    .smallpic{
        position: absolute;
        left: 30%;
        top: 180px;
        z-index: 2;
        height: 20px;
    }

    #reply{
        position: absolute;
        left: 20%;
        top: 170px;
        font-size: 11px;
        font-family: 'Arial';
        color: white;
        z-index: 1;
    }

    .mail{
        position: absolute;
        width: 140px;
        height: 40px;
        top: 220px;
        margin-left: -150px;
        font-size: 10px;
        font-family: Arial;
        border-radius: 9px;
        border-color: blue;
        background-color: blue;
        font-weight: bold;
        z-index: 3;
    }

    .message{
        position: absolute;
        width: 140px;
        height: 40px;
        top: 220px;
        margin-left: 5px;
        font-size: 10px;
        font-family: Arial;
        border-radius: 9px;
        border-color: limegreen;
        background-color: limegreen;
        font-weight: bold;
        z-index: 1;
    }

    #email{
        color: white;
    }

    #number{
        color: white;
    }

    .footer_social{
        position: relative;
        bottom: -150px;

        margin-left: -180px;
    }

    .facebookf{
        width: 23px;
        height: 23px;
        padding-right: 10px;
    }

    .instagramf{
        width: 23px;
        height: 23px;
        padding-right: 10px;
    }

    .linkedinf{
        width: 23px;
        height: 23px;
        padding-right: 10px;
    }

    .githubf{
        width: 23px;
        height: 23px;
        padding-right: 10px;
    }

    .twitterf{
        width: 23px;
        height: 23px;
        padding-right: 10px;
    }

    body>footer>section>section:nth-child(2)>p{
        position: absolute;
        right: 50px;
        top: 350px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        /*font-size: 10px;*/
        line-height: 14px;
        color: #FFFFFF;
        z-index: 3;
    }
}


@media all and (min-width: 377px) and (max-width: 426px){

    .six_page{
        height: 64vh;
        /*border: 10px solid black;*/
        background: black;
        position: relative;
        top: 2800px;


    }

    #get{
        left: -12px;
        top: -2px;
        font-family: 'Arial';
        color: white;
        z-index: 3;
        font-size: 16px;
        position: relative;
    }

    #let{
        position: relative;
        left: -25%;
        top: -5px;
        font-family: 'Arial';
        color: white;
        z-index: 1;
        font-size: 18px;
    }

    .first{
        position: absolute;
        left: -68%;
        top: 80px;
        font-family: 'Arial';
        font-size: 11px;
        color: white;
        z-index: 1;
    }

    .second{
        position: absolute;
        left: -68%;
        top: 120px;
        font-family: 'Arial';
        font-size: 11px;
        color: white;
        z-index: 1;
    }

    .smallpic{
        position: absolute;
        left: 33%;
        top: 180px;
        z-index: 2;
        height: 20px;
    }

    #reply{
        position: absolute;
        left: 25%;
        top: 170px;
        font-size: 11px;
        font-family: 'Arial';
        color: white;
        z-index: 1;
    }

    .mail{
        position: absolute;
        width: 140px;
        height: 40px;
        top: 220px;
        margin-left: -150px;
        font-size: 10px;
        font-family: Arial;
        border-radius: 9px;
        border-color: blue;
        background-color: blue;
        font-weight: bold;
        z-index: 3;
    }

    .message{
        position: absolute;
        width: 140px;
        height: 40px;
        top: 220px;
        margin-left: 5px;
        font-size: 10px;
        font-family: Arial;
        border-radius: 9px;
        border-color: limegreen;
        background-color: limegreen;
        font-weight: bold;
        z-index: 1;
    }

    #email{
        color: white;
    }

    #number{
        color: white;
    }

    .footer_social{
        position: relative;
        bottom: -150px;
        margin-left: -150px;
    }

    .facebookf{
        width: 23px;
        height: 23px;
        padding-right: 10px;
    }

    .instagramf{
        width: 23px;
        height: 23px;
        padding-right: 10px;
    }

    .linkedinf{
        width: 23px;
        height: 23px;
        padding-right: 10px;
    }

    .githubf{
        width: 23px;
        height: 23px;
        padding-right: 10px;
    }

    .twitterf{
        width: 23px;
        height: 23px;
        padding-right: 10px;
    }


    body>footer>section>section:nth-child(2)>p{
        position: absolute;
        right: 70px;
        top: 350px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        /*font-size: 10px;*/
        line-height: 14px;
        color: #FFFFFF;
        z-index: 3;
    }
}





@media all and (min-width: 427px) and (max-width: 769px){
    .six_page{
        height: 64vh;
        /*border: 10px solid black;*/
        background: black;
        position: relative;
        top: 1500px;
    }

    #get{
        left: 0px;
        top: 0px;
        font-family: 'Arial';
        color: white;
        z-index: 3;
        font-size: 22px;
        position: relative;
    }

    #let{
        position: relative;
        left: 10%;
        top: -5px;
        font-family: 'Arial';
        color: white;
        z-index: 1;
        font-size: 20px;
    }

    .first{
        position: absolute;
        left: -15%;
        top: 80px;
        font-family: 'Arial';
        font-size: 15px;
        color: white;
        z-index: 1;
    }

    .second{
        position: absolute;
        left: -15%;
        top: 120px;
        font-family: 'Arial';
        font-size: 15px;
        color: white;
        z-index: 1;
    }

    .smallpic{
        position: absolute;
        left: 38%;
        top: 190px;
        z-index: 2;
        height: 20px;
    }

    #reply{
        position: absolute;
        left: 35%;
        top: 175px;
        font-size: 13px;
        font-family: 'Arial';
        color: white;
        z-index: 1;
    }

    .mail{
        position: absolute;
        width: 165px;
        height: 45px;
        top: 240px;
        margin-left: -200px;
        font-size: 12px;
        font-family: Arial;
        border-radius: 9px;
        border-color: blue;
        background-color: blue;
        font-weight: bold;
        z-index: 3;
    }

    .message{
        position: absolute;
        width: 150px;
        height: 45px;
        top: 240px;
        margin-left: 15px;
        font-size: 12px;
        font-family: Arial;
        border-radius: 9px;
        border-color: limegreen;
        background-color: limegreen;
        font-weight: bold;
        z-index: 1;
    }

    #email{
        color: white;
    }

    #number{
        color: white;
    }

    .footer_social{
        position: relative;
        bottom: -150px;
        margin-left: 0px;
    }

    .facebookf{
        width: 23px;
        height: 23px;
        padding-right: 10px;
    }

    .instagramf{
        width: 23px;
        height: 23px;
        padding-right: 10px;
    }

    .linkedinf{
        width: 23px;
        height: 23px;
        padding-right: 10px;
    }

    .githubf{
        width: 23px;
        height: 23px;
        padding-right: 10px;
    }

    .twitterf{
        width: 23px;
        height: 23px;
        padding-right: 10px;
    }

    body>footer>section>section:nth-child(2)>p{
        position: absolute;
        right: 250px;
        top: 350px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        /*font-size: 10px;*/
        line-height: 14px;
        color: #FFFFFF;
        z-index: 3;
    }
}


@media all and (min-width: 770px) and (max-width: 1025px){
    .six_page{
        height: 64.5vh;
        /*border: 10px solid black;*/
        background: black;
        position: relative;
        top: 650px;
    }

    #get{
        left: 0px;
        top: 0px;
        font-family: 'Arial';
        color: white;
        z-index: 3;
        font-size: 32px;
        position: relative;
    }

    #let{
        position: relative;
        left: 19%;
        top: -5px;
        font-family: 'Arial';
        color: white;
        z-index: 1;
        font-size: 30px;
    }

    .first{
        position: absolute;
        left: 0%;
        top: 120px;
        font-family: 'Arial';
        font-size: 23px;
        color: white;
        z-index: 1;
    }

    .second{
        position: absolute;
        left: 0%;
        top: 180px;
        font-family: 'Arial';
        font-size: 23px;
        color: white;
        z-index: 1;
    }

    .smallpic{
        position: absolute;
        left: 38%;
        top: 280px;
        z-index: 2;
        height: 28px;
    }

    #reply{
        position: absolute;
        left: 39%;
        top: 260px;
        font-size: 18px;
        font-family: 'Arial';
        color: white;
        z-index: 1;
    }

    .mail{
        position: absolute;
        width: 215px;
        height: 55px;
        top: 330px;
        margin-left: -300px;
        font-size: 16px;
        font-family: Arial;
        border-radius: 9px;
        border-color: blue;
        background-color: blue;
        font-weight: bold;
        z-index: 3;
    }

    .message{
        position: absolute;
        width: 180px;
        height: 55px;
        top: 330px;
        margin-left: 50px;
        font-size: 16px;
        font-family: Arial;
        border-radius: 9px;
        border-color: limegreen;
        background-color: limegreen;
        font-weight: bold;
        z-index: 1;
    }

    #email{
        color: white;
    }

    #number{
        color: white;
    }

    .footer_social{
        position: relative;
        bottom: -200px;
        margin-left: 100px;
    }

    .facebookf{
        width: 30px;
        height: 30px;
        padding-right: 10px;
    }

    .instagramf{
        width: 30px;
        height: 30px;
        padding-right: 10px;
    }

    .linkedinf{
        width: 30px;
        height: 30px;
        padding-right: 10px;
    }

    .githubf{
        width: 30px;
        height: 30px;
        padding-right: 10px;
    }

    .twitterf{
        width: 30px;
        height: 30px;
        padding-right: 10px;
    }

    body>footer>section>section:nth-child(2)>p{
        position: absolute;
        right: 400px;
        top: 480px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 14px;
        color: #FFFFFF;
        z-index: 3;
    }
}


@media all and (min-width: 1026px) and (max-width: 1441px){
    .six_page{
        height: 50vh;
        width: 98vw;
        border: 10px solid black;
        background: black;
        top: 1080px;
        position: relative;
    }

    #get{
        position: absolute;
        left: 650px;
        top: 20px;
        font-family: 'Arial';
        color: white;
        z-index: 3;
        font-size: 23px;
        margin-bottom: 15px;
    }

    #let{
        position: absolute;
        width: 600px;
        height: 46px;
        left: 450px;
        top: 50px;
        font-family: 'Arial';
        color: white;
        z-index: 1;
        font-size: 33px;
    }

    .first{
        position: absolute;
        width: 972px;
        height: 29px;
        left: 17%;
        top: 120px;
        font-family: 'Arial';
        font-size: 18px;
        color: white;
        z-index: 1;
    }

    .second{
        position: absolute;
        width: 972px;
        height: 29px;
        left: 17%;
        top: 170px;
        font-family: 'Arial';
        font-size: 18px;
        color: white;
        z-index: 1;
    }

    .smallpic{
        position: absolute;
        left: 42%;
        top: 250px;
        z-index: 2;
        height: 35px;
    }

    #reply{
        position: absolute;
        width: 255px;
        height: 29px;
        left: 43%;
        top: 240px;
        font-size: 14px;
        font-family: 'Arial';
        color: white;
        z-index: 1;
    }

    .mail{
        position: absolute;
        width: 220px;
        height: 50px;
        top: 320px;
        margin-left: -300px;
        font-family: Arial;
        border-radius: 9px;
        border-color: blue;
        background-color: blue;
        font-weight: bold;
        z-index: 1;
    }

    .message{
        position: absolute;
        width: 220px;
        height: 50px;
        top: 320px;
        margin-left: 50px;
        font-family: Arial;
        border-radius: 9px;
        border-color: limegreen;
        background-color: limegreen;
        font-weight: bold;
        z-index: 1;
    }

    #email{
        color: white;
    }

    #number{
        color: white;
    }

    .footer_social{
        position: relative;
        bottom: -360px;

        margin-left: 360px;
    }

    .facebookf{
        width: 27px;
        height: 27px;
        padding-right: 10px;
    }

    .instagramf{
        width: 27px;
        height: 27px;
        padding-right: 10px;
    }

    .linkedinf{
        width: 27px;
        height: 27px;
        padding-right: 10px;
    }

    .githubf{
        width: 27px;
        height: 27px;
        padding-right: 10px;
    }

    .twitterf{
        width: 27px;
        height: 27px;
        padding-right: 10px;
    }

    body>footer>section>section:nth-child(2)>p{
        position: absolute;
        width: 260px;
        height: 14px;
        right: 577px;
        top: 430px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        /*font-size: 10px;*/
        line-height: 14px;
        color: #FFFFFF;
        z-index: 1;
    }
}