body{
    background-color: #1C2AAF;

}



header{
    position: fixed;
    z-index: 15;
    height: 11vh;
    width: 98.73vw;
}

.first_page{
    height: 100vh;
    width: auto;
}

.MenuRectangle{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 11vh;
    width: 98.73vw;
    background: #1C2AAF;;

}
.logo {
    position: relative;
    height: 14vh;
    width: auto;
    float: left;
    margin-left: 20px;
    margin-top: -8px;
}

/*reusable*/
.row {
    max-width: 1140px;
    margin: 0 auto;
    margin-right: 100px;
}



/* Navigation Bar*/
.main-nav{
    float: right;
    list-style: none;
    margin-top: 28px;
    color: #fff;
    font-family: Arial;

}

.main-nav li{
    display: inline-block;
    padding: 0 10px 0 10px;
    font-size: 18px;
    position: relative;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 10px 0;
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: inherit;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;

}

.main-nav li a:hover {
    border-bottom-color: #fff;
}



@media all and (max-width: 320px){
    body{
        background-color: #1C2AAF;
        width: 20.833333333333332vw;
    }



    header{
        position: fixed;
        z-index: 15;
        height: 11vh;
        width: 98.73vw;
    }


    .MenuRectangle{
        position: absolute;
        left: 0px;
        top: 0px;
        height: 7.5vh;
        width: 98.73vw;
        background: #1C2AAF;


    }

    /*for Hamburger*/
    body>header>section{
        position: relative;
        width: 35px;
        height: 35px;
        left: 85%;
        top: 8px;
        background: rgba(255,255,255,0.28);
        border-radius: 100%;
        z-index: 1;
        opacity: 70%;

    }

    body>header>section>div:first-child{
        position: absolute;
        width: 20px;
        height: 3px;
        right: 7px;
        top: 9px;
        background-color: white;
        z-index: 2;

    }
    body>header>section>div:nth-child(2){
        position: absolute;
        width: 20px;
        height: 3px;
        right: 7px;
        top: 17px;
        background-color: #FFFFFF;
        z-index: 2;
    }
    body>header>section>div:nth-child(3){
        position: absolute;
        width: 20px;
        height: 3px;
        right: 7px;
        top: 24px;
        background-color: #FFFFFF;
        z-index: 2;
    }


    .logo {
        position: relative;
        height: 50px;
        width: auto;
        float: left;
        margin-left: 10px;
        margin-top: -32px;

    }

    /*reusable*/
    .row {
        max-width: 1140px;
        margin: 0 auto;
        margin-right: 100px;
    }



    /* Navigation Bar*/
    .main-nav{
        float: right;
        list-style: none;
        margin-top: -10px;
        color: #fff;
        font-family: Arial;
        display: none;

    }

    .main-nav li{
        display: inline-block;
        padding: 0 10px 0 10px;
        font-size: 7px;
        position: relative;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        padding: 10px 0;
        color: #ffff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: inherit;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.5s;

    }

    .main-nav li a:hover {
        border-bottom-color: #fff;
    }

}

@media all and (min-width: 321px) and (max-width: 376px){
    body{
        background-color: #1C2AAF;

        width: 24.4140625vw;
    }



    header{
        position: fixed;
        z-index: 15;
        height: 50px;
        width: 98.73vw;
    }


    .MenuRectangle{
        position: absolute;
        left: 0px;
        top: 0px;
        height: 50px;
        width: 375px;
        background: #1C2AAF;


    }

    /*for Hamburger*/
    body>header>section{
        position: relative;
        width: 35px;
        height: 35px;
        left: 85%;
        top: 8px;
        background: rgba(255,255,255,0.28);
        border-radius: 100%;
        z-index: 1;
        opacity: 70%;

    }

    body>header>section>div:first-child{
        position: absolute;
        width: 20px;
        height: 3px;
        right: 7px;
        top: 9px;
        background-color: white;
        z-index: 2;

    }
    body>header>section>div:nth-child(2){
        position: absolute;
        width: 20px;
        height: 3px;
        right: 7px;
        top: 17px;
        background-color: #FFFFFF;
        z-index: 2;
    }
    body>header>section>div:nth-child(3){
        position: absolute;
        width: 20px;
        height: 3px;
        right: 7px;
        top: 24px;
        background-color: #FFFFFF;
        z-index: 2;
    }


    .logo {
        position: relative;
        height: 55px;
        width: auto;
        float: left;
        margin-left: 10px;
        margin-top: -32px;

    }

    /*reusable*/
    .row {
        max-width: 1140px;
        margin: 0 auto;
        margin-right: 100px;
    }



    /* Navigation Bar*/
    .main-nav{
        float: right;
        list-style: none;
        margin-top: -10px;
        color: #fff;
        font-family: Arial;
        display: none;

    }

    .main-nav li{
        display: inline-block;
        padding: 0 10px 0 10px;
        font-size: 7px;
        position: relative;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        padding: 10px 0;
        color: #ffff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: inherit;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.5s;

    }

    .main-nav li a:hover {
        border-bottom-color: #fff;
    }
}


@media all and (min-width: 376px) and (max-width: 426px){
    body{
        background-color: #1C2AAF;
        width: 27.669270833333332vw;
    }



    header{
        position: fixed;
        z-index: 15;
        height: 50px;
        width: 98.73vw;
    }


    .MenuRectangle{
        position: absolute;
        left: 0px;
        top: 0px;
        height: 7.925207756232687vh;
        width: 100.669270833333332vw;
        background: #1C2AAF;


    }

    /*for Hamburger*/
    body>header>section{
        position: relative;
        width: 35px;
        height: 35px;
        left: 85%;
        top: 8px;
        background: rgba(255,255,255,0.28);
        border-radius: 100%;
        z-index: 1;
        opacity: 70%;

    }

    body>header>section>div:first-child{
        position: absolute;
        width: 20px;
        height: 3px;
        right: 7px;
        top: 9px;
        background-color: white;
        z-index: 2;

    }
    body>header>section>div:nth-child(2){
        position: absolute;
        width: 20px;
        height: 3px;
        right: 7px;
        top: 17px;
        background-color: #FFFFFF;
        z-index: 2;
    }
    body>header>section>div:nth-child(3){
        position: absolute;
        width: 20px;
        height: 3px;
        right: 7px;
        top: 24px;
        background-color: #FFFFFF;
        z-index: 2;
    }


    .logo {
        position: relative;
        height: 55px;
        width: auto;
        float: left;
        margin-left: 10px;
        margin-top: -32px;

    }

    /*reusable*/
    .row {
        max-width: 1140px;
        margin: 0 auto;
        margin-right: 100px;
    }



    /* Navigation Bar*/
    .main-nav{
        float: right;
        list-style: none;
        margin-top: -10px;
        color: #fff;
        font-family: Arial;
        display: none;

    }

    .main-nav li{
        display: inline-block;
        padding: 0 10px 0 10px;
        font-size: 7px;
        position: relative;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        padding: 10px 0;
        color: #ffff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: inherit;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.5s;

    }

    .main-nav li a:hover {
        border-bottom-color: #fff;
    }
}

@media all and (min-width: 427px) and (max-width: 769px){
    body{
        background-color: #1C2AAF;
        width: 27.669270833333332vw;
    }



    header{
        position: fixed;
        z-index: 15;
        height: 50px;
        width: 98.73vw;
    }


    .MenuRectangle{
        position: absolute;
        left: 0px;
        top: 0px;
        height: 9.5vh;
        width: 100.669270833333332vw;
        background: #1C2AAF;


    }



    .logo {
        position: relative;
        height: 80px;
        width: auto;
        float: left;
        margin-left: 10px;
        margin-top: -10px;

    }

    /*reusable*/
    .row {
        max-width: 1140px;
        margin: 0 auto;
        margin-right: 100px;
    }



    /* Navigation Bar*/
    .main-nav{
        float: right;
        list-style: none;
        margin-top: 15px;
        margin-right: -40px;
        color: #fff;
        font-family: Arial;

    }

    .main-nav li{
        display: inline-block;
        padding: 5px 5px 0px 5px;
        font-size: 13px;
        position: relative;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        padding: 5px 0;
        color: #ffff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: inherit;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.5s;

    }

    .main-nav li a:hover {
        border-bottom-color: #fff;
    }
}

@media all and (min-width: 770px) and (max-width: 1025px){
    body{
        background-color: #1C2AAF;
        width: 27.669270833333332vw;
    }



    header{
        position: fixed;
        z-index: 15;
        height: 50px;
        width: 98.73vw;
    }


    .MenuRectangle{
        position: absolute;
        left: 0px;
        top: 0px;
        height: 9.5vh;
        width: 100.669270833333332vw;
        background: #1C2AAF;


    }



    .logo {
        position: relative;
        height: 80px;
        width: auto;
        float: left;
        margin-left: 10px;
        margin-top: -10px;

    }

    /*reusable*/
    .row {
        max-width: 1140px;
        margin: 0 auto;
        margin-right: 100px;
    }



    /* Navigation Bar*/
    .main-nav{
        float: right;
        list-style: none;
        margin-top: 15px;
        margin-right: -60px;
        color: #fff;
        font-family: Arial;

    }

    .main-nav li{
        display: inline-block;
        padding: 5px 5px 0px 10px;
        font-size: 16px;
        position: relative;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        padding: 5px 0;
        color: #ffff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: inherit;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.5s;

    }

    .main-nav li a:hover {
        border-bottom-color: #fff;
    }
}