/* Main page*/
.main{
    position: absolute;
    width: 50%;
    height: 50%;
    background: #3C39EB;
    left: 25%;
    top: 30%;
    border-radius: 120px;
    background-position: inherit;

}

.main-head{
    position: absolute;
    font-family: Arial;
    text-transform: uppercase;
    color: white;
    margin-top: -31%;
    margin-left: 50%;
    background: linear-gradient(to right,#fff 20%,black 60%,#fff 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: inherit;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 2s linear infinite;


}

@keyframes animate {
    to{
        background-position: 200% center;
    }
}
.hero-image{

    height: 103.5%;
    width: 50%;
    margin-top: -1.5%;
    margin-left: -0.3%;
    border-bottom-left-radius: 31%;

}
.circle{
    height: 90vh;
    width: 40vw;
    margin-top: 6%;

}


.start{

    position: absolute;
    width: 20%;
    height: 13%;
    left: 55%;
    top:75%;
    font-size: 100%;
    color: #3C39EB;
    /*color: white;*/
    font-family: Arial;
    border-radius: 15px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    font-weight: bold;

    /*background: linear-gradient(to right,#fff 20%,black 60%,#fff 80%);*/
    /*background-size: 200% auto;*/
    /*color: #000;*/
    /*background-clip: inherit;*/
    /*text-fill-color: transparent;*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*animation: animate 2s linear infinite;*/

}

/*Social media links*/


#follow{

    position: fixed;
    left: 1418px;
    top: 480px;
    transform: rotate(270deg);
    color: #FFFFFF;
    font-family:"Arial";
    font-size: 13px;

    z-index: 3;

}
.verticalLine{
    height: 55px;
    border: 1px solid #FFFFFF;
    position: fixed;
    left: 1456px;
    top: 370px;
    color: white;
    z-index: 3;
}

.facebook{
    position: fixed;
    width: 27px;
    height: 27px;
    left: 1440px;
    top: 150px;
    z-index: 3;
}

.instagram{
    position: fixed;
    width: 27px;
    height: 27px;
    left: 1440px;
    top: 190px;
    z-index: 3;
}

.linkedin{
    position: fixed;
    width: 27px;
    height: 27px;
    left: 1440px;
    top: 230px;
    z-index: 3;
}

.github{
    position: fixed;
    width: 27px;
    height: 27px;
    left: 1440px;
    top: 270px;
    z-index: 3;
}

.twitter{
    position: fixed;
    width: 27px;
    height: 27px;
    left: 1440px;
    top: 310px;
    z-index: 3;
}




@media all and (width: 320px){
    .main{
        position: absolute;
        width: 82vw;
        height: 27vh;
        background: #3C39EB;
        left: 15%;
        margin-top: -40px;
        border-radius: 70px;
        background-position: inherit;

    }

    .main-head{
        position: absolute;
        font-family: Arial;
        font-size: 50%;
        text-transform: uppercase;
        color: white;
        margin-top: -57%;
        margin-left: 52%;
        background: linear-gradient(to right,#fff 20%,black 60%,#fff 80%);
        background-size: 200% auto;
        color: #000;
        background-clip: inherit;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate 2s linear infinite;


    }

    @keyframes animate {
        to{
            background-position: 200% center;
        }
    }
    .hero-image{
        position: relative;
        height: 150px;
        width: 130px;
        margin-top: 8%;
        margin-left: 1%;
        border-bottom-left-radius: 60px;

    }
    .circle{
        height: 40vh;
        width: 51vw;
        margin-top: 110px;

    }


    .start{

        position: absolute;
        width: 70px;
        height: 30px;
        left: 55%;
        top:75%;
        color: #3C39EB;
        font-size: 7px;
        font-family: Arial;
        border-radius: 10px;
        border-color: #FFFFFF;
        background-color: #FFFFFF;
        font-weight: bold;


    }
}

@media all and (min-width: 321px) and (max-width: 376px){
    .main{
        position: absolute;
        width: 82vw;
        height: 27vh;
        background: #3C39EB;
        left: 15%;
        margin-top: -40px;
        border-radius: 70px;
        background-position: inherit;

    }

    .main-head{
        position: absolute;
        font-family: Arial;
        font-size: 50%;
        text-transform: uppercase;
        color: white;
        margin-top: -45%;
        margin-left: 45%;
        background: linear-gradient(to right,#fff 20%,black 60%,#fff 80%);
        background-size: 200% auto;
        color: #000;
        background-clip: inherit;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate 2s linear infinite;


    }

    @keyframes animate {
        to{
            background-position: 200% center;
        }
    }
    .hero-image{

        position: relative;
        height: 150px;
        width: 130px;
        margin-top: 6.8%;
        margin-left: 1%;
        border-bottom-left-radius: 60px;

    }
    .circle{
        height: 40vh;
        width: 45vw;
        margin-top: 110px;
        margin-left: -5px;

    }


    .start{

        position: absolute;
        width: 70px;
        height: 30px;
        left: 55%;
        top:75%;
        color: #3C39EB;
        font-size: 7px;
        font-family: Arial;
        border-radius: 10px;
        border-color: #FFFFFF;
        background-color: #FFFFFF;
        font-weight: bold;


    }
}

@media all and (min-width: 376px) and (max-width: 426px){
    .main{
        position: absolute;
        width: 82vw;
        height: 27vh;
        background: #3C39EB;
        left: 15%;
        margin-top: -40px;
        border-radius: 70px;
        background-position: inherit;

    }

    .main-head{
        position: absolute;
        font-family: Arial;
        font-size: 50%;
        text-transform: uppercase;
        color: white;
        margin-top: -38%;
        margin-left: 42%;
        background: linear-gradient(to right,#fff 20%,black 60%,#fff 80%);
        background-size: 200% auto;
        color: #000;
        background-clip: inherit;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate 2s linear infinite;


    }

    @keyframes animate {
        to{
            background-position: 200% center;
        }
    }
    .hero-image{

        position: relative;
        height: 150px;
        width: 130px;
        margin-top: 7%;
        margin-left: 1%;
        border-bottom-left-radius: 60px;


    }
    .circle{
        height: 40vh;
        width: 45vw;
        margin-top: 110px;
        margin-left: -5px;

    }


    .start{

        position: absolute;
        width: 70px;
        height: 30px;
        left: 55%;
        top:75%;
        color: #3C39EB;
        font-size: 7px;
        font-family: Arial;
        border-radius: 10px;
        border-color: #FFFFFF;
        background-color: #FFFFFF;
        font-weight: bold;


    }
}

@media all and (min-width: 427px) and (max-width: 769px){
    .main{
        position: absolute;
        width: 65vw;
        height: 40vh;
        background: #3C39EB;
        left: 20%;
        margin-top: -20px;
        border-radius: 70px;
        background-position: inherit;

    }

    .main-head{
        position: absolute;
        font-family: Arial;
        font-size: 70%;
        text-transform: uppercase;
        color: white;
        margin-top: -38%;
        margin-left: 50%;
        background: linear-gradient(to right,#fff 20%,black 60%,#fff 80%);
        background-size: 200% auto;
        color: #000;
        background-clip: inherit;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate 2s linear infinite;


    }

    @keyframes animate {
        to{
            background-position: 200% center;
        }
    }
    .hero-image{

        position: relative;
        height: 250px;
        width: 230px;
        margin-top: 0.5%;
        margin-left: 0%;
        border-bottom-left-radius: 70px;


    }
    .circle{
        height: 60vh;
        width: 45vw;
        margin-top: 110px;
        margin-left: -5px;

    }


    .start{

        position: absolute;
        width: 100px;
        height: 35px;
        left: 55%;
        top:75%;
        color: #3C39EB;
        font-size: 12px;
        font-family: Arial;
        border-radius: 10px;
        border-color: #FFFFFF;
        background-color: #FFFFFF;
        font-weight: bold;


    }

    /*Social media links*/


    #follow{

        position: relative;
        left: 613px;
        top: -310px;
        transform: rotate(270deg);
        color: #FFFFFF;
        font-family:"Arial";
        font-size: 13px;

        z-index: 3;

    }
    .verticalLine{

        height: 1px;
        width: 65px;
        border: 1px solid #FFFFFF;
        transform: rotate(270deg);
        position: relative;
        left:685px;
        top: -174px;
        color: white;
        z-index: 3;
    }

    .facebook{
        position: fixed;

        width: 27px;
        height: 27px;
        left: 706px;
        top: 90px;
        z-index: 3;
    }

    .instagram{
        position: fixed;
        width: 27px;
        height: 27px;
        left: 706px;
        top: 130px;
        z-index: 3;
    }

    .linkedin{
        position: fixed;
        width: 27px;
        height: 27px;
        left: 706px;
        top: 170px;
        z-index: 3;
    }

    .github{
        position: fixed;
        width: 27px;
        height: 27px;
        left: 706px;
        top: 210px;
        z-index: 3;
    }

    .twitter{
        position: fixed;
        width: 27px;
        height: 27px;
        left: 706px;
        top: 250px;
        z-index: 3;
    }
}

@media all and (min-width: 770px) and (max-width: 1025px){
    .main{
        position: absolute;
        width: 70vw;
        height: 38vh;
        background: #3C39EB;
        left: 20%;
        margin-top: -40px;
        border-radius: 70px;
        background-position: inherit;

    }

    .main-head{
        position: absolute;
        font-family: Arial;
        font-size: 90%;
        text-transform: uppercase;
        color: white;
        margin-top: -32%;
        margin-left: 50%;
        background: linear-gradient(to right,#fff 20%,black 60%,#fff 80%);
        background-size: 200% auto;
        color: #000;
        background-clip: inherit;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate 2s linear infinite;


    }

    @keyframes animate {
        to{
            background-position: 200% center;
        }
    }
    .hero-image{

        position: relative;
        height: 330px;
        width: 310px;
        margin-top: -1.1%;
        margin-left: 0%;
        border-bottom-left-radius: 70px;


    }
    .circle{
        height: 60vh;
        width: 45vw;
        margin-top: 110px;
        margin-left: -5px;

    }


    .start{

        position: absolute;
        width: 130px;
        height: 45px;
        left: 60%;
        top:77%;
        color: #3C39EB;
        font-size: 14px;
        font-family: Arial;
        border-radius: 10px;
        border-color: #FFFFFF;
        background-color: #FFFFFF;
        font-weight: bold;


    }

    /*Social media links*/


    #follow{

        position: relative;
        left: 840px;
        top: -350px;
        transform: rotate(270deg);
        color: #FFFFFF;
        font-family:"Arial";
        font-size: 13px;

        z-index: 3;

    }
    .verticalLine{

        height: 1px;
        width: 65px;
        border: 1px solid #FFFFFF;
        transform: rotate(270deg);
        position: relative;
        left:945px;
        top: -210px;
        color: white;
        z-index: 3;
    }

    .facebook{
        position: fixed;

        width: 35px;
        height: 35px;
        left: 965px;
        top: 100px;
        z-index: 3;
    }

    .instagram{
        position: fixed;
        width: 35px;
        height: 35px;
        left: 965px;
        top: 150px;
        z-index: 3;
    }

    .linkedin{
        position: fixed;
        width: 35px;
        height: 35px;
        left: 965px;
        top: 200px;
        z-index: 3;
    }

    .github{
        position: fixed;
        width: 35px;
        height: 35px;
        left: 965px;
        top: 250px;
        z-index: 3;
    }

    .twitter{
        position: fixed;
        width: 35px;
        height: 35px;
        left: 965px;
        top: 300px;
        z-index: 3;
    }
}