body{
    background-color: #1C2AAF;

}


.logo {
    position: relative;
    height: 100px;
    width: auto;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}

/*reusable*/
.row {
    max-width: 1140px;
    margin: 0 auto;
    margin-right: 100px;
}



/* Navigation Bar*/
.main-nav{
    float: right;
    list-style: none;
    margin-top: 40px;
    color: #fff;
    font-family: Arial;

}

.main-nav li{
    display: inline-block;
    padding: 0 10px 0 10px;
    font-size: 18px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 10px 0;
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: inherit;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.main-nav li a:hover {
    border-bottom-color: #fff;
}

/* Main page*/
.main{
    position: absolute;
    width: 52vw;
    height: 50vh;
    background: #3C39EB;
    left: 25%;
    top: 30%;
    border-radius: 120px;
    z-index: 10;
    background-position: inherit;



}

.main-head{
    position: relative;
    font-family: Arial;
    text-transform: uppercase;
    color: white;
    margin-top: -31%;
    margin-left: 50%;
    background: linear-gradient(to right,#fff 20%,black 60%,#fff 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: inherit;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 2s linear infinite;


}

@keyframes animate {
    to{
        background-position: 200% center;
    }
}
.hero-image{

    height: 51.9vh;
    width: 25.5vw;
    margin-top: -1.5%;
    margin-left: -0.3%;
    border-bottom-left-radius: 33%;

}
.circle{
    height: 85vh;
    width: 40vw;
    margin-top: 0px;

}


.start{

    position: absolute;
    width: 10vw;
    height: 7vh;
    left: 55%;
    top:75%;
    color: #3C39EB;
    /*color: white;*/
    font-family: Arial;
    border-radius: 15px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    font-weight: bold;

    /*background: linear-gradient(to right,#fff 20%,black 60%,#fff 80%);*/
    /*background-size: 200% auto;*/
    /*color: #000;*/
    /*background-clip: inherit;*/
    /*text-fill-color: transparent;*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*animation: animate 2s linear infinite;*/

}

/*Social media links*/


#follow{

    position: fixed;
    left: 1374px;
    top: 260px;
    transform: rotate(270deg);
    color: #FFFFFF;
    font-family:"Arial";
    font-size: 13px;
    height: 150px;
    width: 300px;

}
.verticalLine{
    height: 55px;
    border: 1px solid #FFFFFF;
    position: fixed;
    left: 1456px;
    top: 370px;
    color: white;
}

.facebook{
    position: fixed;
    width: 27px;
    height: 27px;
    left: 1440px;
    top: 150px;
}

.instagram{
    position: fixed;
    width: 27px;
    height: 27px;
    left: 1440px;
    top: 190px;
}

.linkedin{
    position: fixed;
    width: 27px;
    height: 27px;
    left: 1440px;
    top: 230px;
}

.github{
    position: fixed;
    width: 27px;
    height: 27px;
    left: 1440px;
    top: 270px;
}

.twitter{
    position: fixed;
    width: 27px;
    height: 27px;
    left: 1440px;
    top: 310px;
}

/*second page*/
#about{
    position: absolute;
    width: 349px;
    height: 147px;
    left: 539px;
    top: 650px;
    font-family: 'Arial';
    font-size: 128px;
    color: #FFFFFF;
    opacity: 0.4;

}

#abouttopic{
    color: white;
    font-family: Arial;
    font-size: 25px;
    margin-top: 150px;
    margin-left: 30px;

}

.paragraph{
    color: white;
    font-family: Arial;
    font-size: 18px;
    margin-left: -49px;
    text-align: justify;

}

.about{
    height: 500px;
    width: 500px;
    float: right;
    margin-top: -270px;
}

.cv{
    position: absolute;
    width: 137px;
    height: 50px;
    margin-top: 30px;
    margin-left: -400px;
    color: #3C39EB;
    font-family: Arial;
    z-index: 10;
    border-radius: 15px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    font-weight: bold;
}

/*third page*/

#skills{
    position: absolute;
    width: 349px;
    height: 147px;
    left: 539px;
    top: 1350px;
    font-family: 'Arial';
    font-size: 128px;
    color: #FFFFFF;
    opacity: 0.4;
}

#chart{
    position: absolute;
    top: 1450px;
    height: 80vh;
    width: 66vw;
    background-color: white;
    border-radius: 50px;
    margin-left: 250px;

}



#skill{
    font-family: Arial;
    color: black;
    margin-left: 75px;
    font-size: 20px;

}

#expert{
    font-family: Arial;
    color: #3C39EB;
    margin-left: 75px;
    font-size: 30px;
}

.allskill{
    list-style: none;
    color: black;
    font-family: Arial;
    margin-left: 100px;
    text-decoration: none;


}

.designset{
    font-family: Arial;
    color: black;
    font-size: 18px;
}

.design{

    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    border-bottom: 3px solid black;
}

.designlist{
    list-style-type: none;
    margin-left: -40px;

}

.webset{
    margin-left: 300px;
    margin-top: -305px;
    font-size: 18px;

}

.web{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    border-bottom: 3px solid black;
}

.weblist{
    list-style-type: none;
    margin-left: -40px;
}

.softwareset{
    margin-left: 600px;
    margin-top: -223px;
    font-size: 18px;


}

.software{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    border-bottom: 3px solid black;
}

.softwarelist{
    list-style-type: none;
    margin-left: -40px;
}

.tool{
    margin-left: 80px;
    margin-top: 70px;
    height: 130px;
    width: 800px;
}


/*fourth page*/

#project{
    position: absolute;
    width: 349px;
    height: 147px;
    left: 539px;
    top: 2100px;
    font-family: 'Arial';
    font-size: 128px;
    color: #FFFFFF;
    opacity: 0.4;

}

#mypro{
    position: absolute;
    width: 349px;
    height: 147px;
    left: 680px;
    top: 2350px;
    font-family: 'Arial';
    font-size: 25px;
    color: #FFFFFF;
}