body{
    background-color: #1C2AAF;

}



header{
    position: fixed;
    z-index: 15;
    height: 50px;
    width: 98.73vw;
}

.first_page{
    height: 100vh;
    width: auto;
}

.MenuRectangle{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 80px;
    width: 98.73vw;
    background: #1C2AAF;;
}
.logo {
    position: relative;
    height: 100px;
    width: auto;
    float: left;
    margin-left: 20px;
    margin-top: -8px;
}

/*reusable*/
.row {
    max-width: 1140px;
    margin: 0 auto;
    margin-right: 100px;
}



/* Navigation Bar*/
.main-nav{
    float: right;
    list-style: none;
    margin-top: 28px;
    color: #fff;
    font-family: Arial;

}

.main-nav li{
    display: inline-block;
    padding: 0 10px 0 10px;
    font-size: 18px;
    position: relative;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 10px 0;
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: inherit;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;

}

.main-nav li a:hover {
    border-bottom-color: #fff;
}

/* Main page*/
.main{
    position: absolute;
    width: 52vw;
    height: 50vh;
    background: #3C39EB;
    left: 25%;
    top: 30%;
    border-radius: 120px;
    background-position: inherit;

}

.main-head{
    position: absolute;
    font-family: Arial;
    text-transform: uppercase;
    color: white;
    margin-top: -31%;
    margin-left: 50%;
    background: linear-gradient(to right,#fff 20%,black 60%,#fff 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: inherit;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 2s linear infinite;


}

@keyframes animate {
    to{
        background-position: 200% center;
    }
}
.hero-image{

    height: 51.9vh;
    width: 25.5vw;
    margin-top: -1.5%;
    margin-left: -0.3%;
    border-bottom-left-radius: 33%;

}
.circle{
    height: 85vh;
    width: 40vw;
    margin-top: 100px;

}


.start{

    position: absolute;
    width: 10vw;
    height: 7vh;
    left: 55%;
    top:75%;
    color: #3C39EB;
    /*color: white;*/
    font-family: Arial;
    border-radius: 15px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    font-weight: bold;

    /*background: linear-gradient(to right,#fff 20%,black 60%,#fff 80%);*/
    /*background-size: 200% auto;*/
    /*color: #000;*/
    /*background-clip: inherit;*/
    /*text-fill-color: transparent;*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*animation: animate 2s linear infinite;*/

}

/*Social media links*/


#follow{

    position: fixed;
    left: 1374px;
    top: 260px;
    transform: rotate(270deg);
    color: #FFFFFF;
    font-family:"Arial";
    font-size: 13px;
    height: 150px;
    width: 300px;
    z-index: 3;

}
.verticalLine{
    height: 55px;
    border: 1px solid #FFFFFF;
    position: fixed;
    left: 1456px;
    top: 370px;
    color: white;
    z-index: 3;
}

.facebook{
    position: fixed;
    width: 27px;
    height: 27px;
    left: 1440px;
    top: 150px;
    z-index: 3;
}

.instagram{
    position: fixed;
    width: 27px;
    height: 27px;
    left: 1440px;
    top: 190px;
    z-index: 3;
}

.linkedin{
    position: fixed;
    width: 27px;
    height: 27px;
    left: 1440px;
    top: 230px;
    z-index: 3;
}

.github{
    position: fixed;
    width: 27px;
    height: 27px;
    left: 1440px;
    top: 270px;
    z-index: 3;
}

.twitter{
    position: fixed;
    width: 27px;
    height: 27px;
    left: 1440px;
    top: 310px;
    z-index: 3;
}

/*second page*/

.second_page{
    height: 90vh;
    width: auto;
    border: 10px solid #1C2AAF;
}
/*#1C2AAF*/
#about{
    position: absolute;
    width: 349px;
    height: 147px;
    left: 539px;
    top: 700px;
    font-family: 'Arial';
    font-size: 128px;
    color: #FFFFFF;
    opacity: 0.4;

}

#abouttopic{
    color: white;
    font-family: Arial;
    font-size: 25px;
    margin-top: 185px;
    margin-left: 30px;

}

.paragraph{
    color: white;
    font-family: Arial;
    font-size: 18px;
    margin-left: -49px;
    text-align: justify;
    margin-top: 80px;
}

.about{
    height: 500px;
    width: 500px;
    float: right;
    margin-top: -250px;


}

.cv{
    position: absolute;
    width: 137px;
    height: 50px;
    margin-top: 100px;
    margin-left: -400px;
    color: #FFFFFF;
    font-family: Arial;
    border-radius: 15px;
    border-color: #FFFFFF;
    background-color: #1C2AAF;
    font-weight: bold;
}

.cv:hover {
    background-color: white;
    color: #1C2AAF;

    border: 3px solid #1C2AAF;
}

/*third page*/

.third_page{
    height: 120vh;
    width: auto;
    border: 10px solid #1C2AAF;
}
/*#1C2AAF*/
#services{
    position: absolute;
    width: 349px;
    height: 147px;
    left: 519px;
    top: 1380px;
    font-family: 'Arial';
    font-size: 128px;
    color: #FFFFFF;
    opacity: 0.4;

}
.s1{
    width: 25vw;
    height: 61vh;

    background-color: white;

    position: absolute;

    left: 80px;
    top: 1680px;
    border-radius: 120px;
    background-position: inherit;
}

.s2{
    width: 25vw;
    height: 61vh;

    background-color: white;

    position: absolute;

    left: 540px;
    top: 1680px;
    border-radius: 100px;
    background-position: inherit;
}

.s3{
    width: 25vw;
    height: 61vh;

    background-color: white;

    position: absolute;

    left: 1000px;
    top: 1680px;
    border-radius: 100px;
    background-position: inherit;
}

.service-img{
    height: 150px;
    width: 150px;
    margin-left: 100px;
}

.service-p1{
    font-size: 20px;
    font-family: Arial;
    /*margin-left: 80px;*/
    text-align: center;
}

.service-p2{
    font-family: Arial;
    font-size: 17px;
    text-align: center;
}
/*!*fourth page*!*/

.fourth_page{
    height: 100vh;
    width: auto;
    border: 10px solid #1C2AAF;
}
/*#1C2AAF*/
#chart{
    position: absolute;
    top: 2400px;
    height: 80vh;
    width: 66vw;
    background-color: white;
    border-radius: 50px;
    margin-left: 250px;

}
#skills{
    position: absolute;
    width: 349px;
    height: 147px;
    left: 539px;
    top: 1350px;
    font-family: 'Arial';
    font-size: 128px;
    color: #FFFFFF;
    opacity: 0.4;
}





#skill{
    font-family: Arial;
    color: black;
    margin-left: 75px;
    font-size: 20px;

}

#expert{
    font-family: Arial;
    color: #3C39EB;
    margin-left: 75px;
    font-size: 30px;
}

.allskill{
    list-style: none;
    color: black;
    font-family: Arial;
    margin-left: 100px;
    text-decoration: none;


}

.designset{
    font-family: Arial;
    color: black;
    font-size: 18px;
}

.design{

    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    border-bottom: 3px solid black;
}

.designlist{
    list-style-type: none;
    margin-left: -40px;

}

.webset{
    margin-left: 300px;
    margin-top: -305px;
    font-size: 18px;

}

.web{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    border-bottom: 3px solid black;
}

.weblist{
    list-style-type: none;
    margin-left: -40px;
}

.softwareset{
    margin-left: 600px;
    margin-top: -223px;
    font-size: 18px;


}

.software{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    border-bottom: 3px solid black;
}

.softwarelist{
    list-style-type: none;
    margin-left: -40px;
}

.java{
    margin-left: 120px;
    margin-top: 100px;
    height: 50px;
    width: auto;
    padding-right: 20px;
}

.js{
    height: 50px;
    width: auto;
    padding-right: 20px;

}

.html{
    height: 50px;
    width: auto;
    padding-right: 20px;

}

.css{
    height: 50px;
    width: auto;
    padding-right: 20px;

}

.mysql{
    height: 50px;
    width: auto;
    padding-right: 20px;

}

.hibernate{
    height: 50px;
    width: auto;
    padding-right: 20px;

}

.javafx{
    height: 50px;
    width: auto;
    padding-right: 20px;

}

.intelij{
    height: 50px;
    width: auto;
    padding-right: 20px;

}

.eclipes{
    height: 50px;
    width: auto;
    padding-right: 20px;

}

.figma{
    height: 50px;
    width: auto;
    padding-right: 120px;

}

.vscode{
    height: 50px;
    width: auto;
    padding-right: 20px;
    margin-left: 120px;


}

.githubl{
    height: 50px;
    width: auto;
    padding-right: 20px;



}

.slack{
    height: 50px;
    width: auto;
    padding-right: 20px;


}

/*!*fifth page*!*/

.fifth_page{
    height: 110vh;
    width: auto;
    border: 10px solid #1C2AAF;
}
/*#1C2AAF*/
#project{
    position: absolute;
    width: 349px;
    height: 147px;
    left: 539px;
    top: 3000px;
    font-family: 'Arial';
    font-size: 128px;
    color: #FFFFFF;
    opacity: 0.4;

}

#mypro{
    position: absolute;
    width: 349px;
    height: 147px;
    left: 680px;
    top: 3250px;
    font-family: 'Arial';
    font-size: 25px;
    color: #FFFFFF;
}

.project1 {
    position: absolute;
    top: 3360px;
    box-shadow: 10px 13px 8px -5px black;
    background-color: white;
    width: 350px;
    height: 350px;
    left: 100px;
    border-radius: 25px;
}

.project2{
    position: absolute;
    top: 3360px;
    box-shadow: 10px 13px 8px -5px black;
    background-color: white;
    width: 350px;
    height: 350px;
    left: 550px;
    border-radius: 25px;
}

.project3{
    position: absolute;
    top: 3360px;
    box-shadow: 10px 13px 8px -5px black;
    background-color: white;
    width: 350px;
    height: 350px;
    left: 1000px;
    border-radius: 25px;
}

.project-tittle{
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    color: #1C2AAF;
}

.project-img{
    height: 200px;
    width: 350px;
    opacity: 90%;
}

.project-p{
    font-family: Arial;
    position: relative;
    text-align: center;
    padding-top: 64px;
    border: 5px solid #1C2AAF;
    height: 195px;


    /*padding-left: 50px;*/
    /*padding-right: 50px;*/
    top: -222px;
    font-size: 19px;
    font-weight: 500;
    color: #d5c7c7;
    line-height: 1.3;
    background: #000000c2;
    opacity: 0;
}

.project-p:hover {
    opacity: 100%;
    height: 218px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;


    transition-delay: 0s;
    transition-property: all;
    transition-duration: 0.5s;
    cursor: pointer;
}

.project-button{
    position: absolute;
    width: max-content;
    height: 30px;

    left: 0;
    bottom: 50px;
    right: 0;
    margin: auto;
    color: white;
    font-size: 15px;
    background-color: black;
    border: 3px solid #1C2AAF;
}
.project-button:hover {
    background-color: #1C2AAF;
    font-weight: bold;
    color: white;
    box-shadow: 0px 1px 8px 3px white;
    border: 3px solid #1C2AAF;
}

.more_button {
    position: absolute;
    height: 40px;
    width: 120px;
    left: 680px;
    margin-top: 740px;
    background-color: #1C2AAF;
    color: white;
    border-color: white;

    font-family: Arial;
    border-radius: 20px;
}

.more_button:hover {
    background-color: white;
    color: #1C2AAF;
    border: 3px solid #1C2AAF;
}





/*!*Fifth Page*!*/


/*contact us page*/
.six_page{
    height: 65vh;
    width: auto;
    border: 10px solid black;
    background: black;
}

#get{
    position: relative;
    width: 287px;
    height: 46px;
    left: 41%;
    top: 20px;
    font-family: 'Arial';
    color: white;
    z-index: 3;
    font-size: 23px;
    margin-bottom: 15px;
}

#let{
    position: relative;
    width: 600px;
    height: 46px;
    left: 30%;
    top: 10px;
    font-family: 'Arial';
    color: white;
    z-index: 1;
    font-size: 33px;

}

.first{
    position: absolute;
    width: 972px;
    height: 29px;
    left: 19%;
    top: 4010px;
    font-family: 'Arial';
    font-size: 18px;
    color: white;
    z-index: 1;
}

.second{
    position: absolute;
    width: 972px;
    height: 29px;
    left: 19%;
    top: 4040px;
    font-family: 'Arial';
    font-size: 18px;
    color: white;
    z-index: 1;
}

.smallpic{
    position: absolute;
    left: 42%;
    top: 4100px;
    z-index: 2;
    height: 35px;
}

#reply{
    position: absolute;
    width: 255px;
    height: 29px;
    left: 43%;
    top: 4100px;
    font-size: 14px;
    font-family: 'Arial';
    color: white;
    z-index: 1;
}



.mail{
    position: absolute;
    width: 220px;
    height: 50px;
    top: 4180px;
    margin-left: -300px;

    font-family: Arial;
    border-radius: 9px;
    border-color: blue;
    background-color: blue;
    font-weight: bold;
    z-index: 1;
}

.message{
    position: absolute;
    width: 220px;
    height: 50px;
    top: 4180px;
    margin-left: 50px;

    font-family: Arial;
    border-radius: 9px;
    border-color: limegreen;
    background-color: limegreen;
    font-weight: bold;
    z-index: 1;
}
#email{
    color: white;
}

#number{
    color: white;
}

.footer_social{
    position: relative;
    bottom: -200px;

    margin-left: 360px;
}

.facebookf{
    width: 27px;
    height: 27px;
    padding-right: 10px;
}

.instagramf{
    width: 27px;
    height: 27px;
    padding-right: 10px;
}

.linkedinf{
    width: 27px;
    height: 27px;
    padding-right: 10px;
}

.githubf{
    width: 27px;
    height: 27px;
    padding-right: 10px;
}

.twitterf{
    width: 27px;
    height: 27px;
    padding-right: 10px;
}




body>footer>section>section:nth-child(2)>p{
    position: absolute;
    width: 260px;
    height: 14px;
    right: 630px;
    top: 4280px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    /*font-size: 10px;*/
    line-height: 14px;
    color: #FFFFFF;
    z-index: 1;
}








